absl-py==0.12.0
arch==4.13
astor==0.8.1
attrs==19.3.0
autopep8==1.5.7
backcall==0.1.0
bleach==3.1.0
bqplot==0.12.26
cachetools==4.2.2
catboost==0.25.1
category-encoders==2.2.2
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
chord==1.0.1
click==7.1.2
cloudpickle==1.6.0
cmdstanpy==0.4.0
colorama==0.4.3
colorlover==0.3.0
convertdate==2.2.0
cryptography==2.9.2
csscompressor==0.9.5
cufflinks==0.17.3
cycler==0.10.0
Cython==0.29.16
daiquiri==3.0.0
dask==2021.4.1
datatable==0.11.1
deap==1.3.1
decorator==4.4.1
defusedxml==0.6.0
dill==0.2.9
distributed==2021.4.1
eli5==0.11.0
entrypoints==0.3
ephem==3.7.7.1
feature-engine==1.0.2
featuretools==0.24.0
fsspec==2021.4.0
future==0.18.2
gast==0.2.2
google-auth==1.30.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
graphviz==0.8.4
grpcio==1.37.1
h2o==3.32.1.2
h5py==2.10.0
handcalcs==1.3.0
HeapDict==1.0.1
holidays==0.10.1
hunga-bunga==0.1
hyperopt==0.2.3
idna==2.6
imbalanced-learn==0.8.0
imblearn==0.0
importlib-metadata==1.5.0
importlib-resources==5.1.2
influxdb==5.3.0
innerscope==0.2.0
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
itables==0.3.0
jedi==0.16.0
Jinja2==2.11.1
joblib==0.14.1
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.1
jupyter-datatables==0.3.9
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyter-nbutils==0.1.3
jupyter-require==0.6.1
jupyterlab-widgets==1.0.0
jupyterthemes==0.20.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
lesscpy==0.14.0
lightgbm==2.3.1
locket==0.2.1
LunarCalendar==0.0.9
lxml==4.5.1
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.4.2
mistune==0.8.4
mlxtend==0.18.0
mock==4.0.3
more-itertools==8.7.0
msgpack==0.6.1
multiprocess==0.70.7
mxnet==1.4.0
nbconvert==5.6.1
nbformat==5.0.4
networkx==2.2
nltk==3.4.5
notebook==6.0.3
numexpr==2.7.3matplotlib
numpy==1.20.3
oauthlib==3.1.0
opcua==0.98.11
OpenOPC-Python3x==1.3.1
opt-einsum==3.3.0
pandas==1.2.4
pandocfilters==1.4.2
parso==0.6.1
partd==1.2.0
pathos==0.2.3
patsy==0.5.1
pickleshare==0.7.5
Pillow==7.0.0
plotly==4.5.4
ply==3.11
pox==0.2.9
ppft==1.6.6.3
ppscore==1.2.0
prometheus-client==0.7.1
prompt-toolkit==3.0.3
property-cached==1.6.4
protobuf==3.17.0
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.20
pydot==1.4.1
pydotplus==2.0.2
Pygments==2.5.2
PyMeeus==0.3.7
pymodbus==2.3.0
pyparsing==2.4.7
Pyro4==4.80
pyrsistent==0.15.7
pyserial==3.4
pystan==2.19.1.1
python-dateutil==2.8.1
python-json-logger==2.0.1
python-snap7==0.11
pytz==2019.3
pywin32==227
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==18.1.1
qgrid==1.3.1
requests==2.25.1
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.4.1
seaborn==0.11.1
Send2Trash==1.5.0
serpent==1.30.2
setuptools-git==1.2
six==1.14.0
sklearn==0.0
sklearn-deap2==0.2.2
sortedcontainers==2.3.0
statsmodels==0.11.1
sweetviz==2.1.0
tables==3.5.2
tabulate==0.8.9
tblib==1.7.0
tensorboard==2.0.2
tensorflow==2.0.0
tensorflow-estimator==2.0.1
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.2
toolz==0.11.1
tornado==6.0.3
tqdm==4.44.1
traitlets==4.3.3
traittypes==0.2.1
typing==3.6.6
urllib3==1.22
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wordcloud==1.6.0
wrapt==1.12.1
xgboost==1.1.0
xlrd==1.2.0
zict==2.0.0
zipp==2.2.0
